<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Auth App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"> <a class="nav-link" routerLinkActive = "active" [routerLink] = "['home']">Home</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive = "active" [routerLink] = "['precios']">Precios</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive = "active" [routerLink] = "['protegida']" *ngIf="auth.isAuthenticated()">Protegida</a> </li>
    </ul>
    <span class="navbar-text">
      <button type="button" *ngIf="!auth.isAuthenticated()" class="btn btn-outline-primary btn-sm" (click) = "login()">Login</button>
      <button type="button" *ngIf="auth.isAuthenticated()" class="btn btn-outline-primary btn-sm" (click) = "logout()">Logout</button>
      <button type="button" *ngIf="!auth.isAuthenticated()" class="btn btn-danger btn-sm">Register</button>
    </span>
  </div>
</nav>